<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <video class="remoteVideo" loop muted autoplay preload="auto" oncanplay="this.play()"
    onloadedmetadata="this.muted = true" poster="../../assets/videos/salgiri_2023.mp4">
    <source src="../../assets/videos/salgiri_2023.mp4" type="video/mp4" />
  </video>
      <div class="carousel-content">
          <h3 class="opacity-50 lineUp">Hinduism</h3>
          <a href="https://www.instagram.com/mahalaxmi_yuvak_mandal/" target="_blank" class="lineUp opacity-50">
            &#64;mahalaxmi_yuvak_mandal
          </a>
          <!-- <button class="btn btn-danger lineUp">Get In Touch</button> -->
      </div>
    </div>
    <div class="carousel-item">
      <video class="remoteVideo" loop muted autoplay preload="auto" oncanplay="this.play()"
    onloadedmetadata="this.muted = true" poster="../../assets/videos/ganeshchaturthi_2023.mp4">
    <source src="../../assets/videos/ganeshchaturthi_2023.mp4" type="video/mp4" />
  </video>
      <div class="carousel-content">
          <h3 class="opacity-50 lineUp">Hinduism</h3>
          <a href="https://www.instagram.com/mahalaxmi_yuvak_mandal/" target="_blank" class="lineUp opacity-50">
            &#64;mahalaxmi_yuvak_mandal
          </a>
          <!-- <button class="btn btn-danger lineUp">Get In Touch</button> -->
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="main-contents">

    <div class="container">

        <div class="contents">
            <div class="content-data">
                <div class="content-cards" *ngFor="let item of service; index as i">
                  <h3>{{ item.text }}</h3>
                  <ul *ngFor="let list_item of item.decsription">
                      <li>{{ list_item }}</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
