<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div *ngFor="let item of carouselItems; let i = index" class="carousel-item" [ngClass]="{'active': i === 0}">
      <video class="remoteVideo" loop muted autoplay preload="auto" oncanplay="this.play()"
        onloadedmetadata="this.muted = true" [poster]="item.poster">
        <source [src]="item.videoSrc" type="video/mp4" />
      </video>
      <div class="carousel-content">
        <h3 class="lineUp opacity-50">{{ item.title }}</h3>
        <a [href]="item.link" target="_blank" class="lineUp opacity-50">
          &#64;mahalaxmi_yuvak_mandal
        </a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="main-contents">
    <div class="container">
        <div class="contents">
            <div class="content-data">
                <div class="content-cards" *ngFor="let item of service; index as i">
                  <h3 class="text-center">{{ item.text }}</h3>
                  <ul *ngFor="let list_item of item.decsription">
                      <li>{{ list_item }}</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
