<section class="top-nav">
  <div>
    <img src="../../assets/images/hindulism.png" class="img-logo" />
  </div>
  <input id="menu-toggle" type="checkbox" />
  <label class="menu-button-container" for="menu-toggle">
    <div class="menu-button"></div>
  </label>
  <ul class="menu">
    <ul class="menu">
      <li>
        <a
          href="#home"
          onclick="document.getElementById('menu-toggle').checked = false"
          >Home</a
        >
      </li>
      <li>
        <a
          href="#gallery"
          onclick="document.getElementById('menu-toggle').checked = false"
          >Gallery</a
        >
      </li>
      <li>
        <a
          href="#community"
          onclick="document.getElementById('menu-toggle').checked = false"
          >Community</a
        >
      </li>
      <li>
        <a
          href="#upcoming"
          onclick="document.getElementById('menu-toggle').checked = false"
          >Upcoming Events</a
        >
      </li>
    </ul>
  </ul>
</section>
