.main {
  background-color: #061030;
  margin-top: 50px;
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-block: 75px;
    .logo-img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }
    .contact-us {
      display: flex;
      flex-direction: column;
      gap: 12px;
      color: white;
      .contact-info {
        display: flex;
        flex-direction: row;
        gap: 25px;
      }
    }

    /* .main-links {
      display: flex;
      flex-direction: column;
      gap: 12px;
      color: white;

      a {
        text-decoration: none;
        color: white;
      }
      a:hover {
        color: #ff6600;
      }
    } */

    .more-info {
      display: flex;
      flex-direction: column;
      gap: 12px;
      color: white;

      .more-link {
        text-decoration: none;
        color: white;
      }
      .more-link:hover {
        color: #ff6600;
      }
    }
  }

  .reserve {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #030a20;
    padding: 25px 0;
    .reserve-items {
      display: flex;
      flex-direction: row;
      gap: 25px;
      .icon-link {
        width: 50px;
        height: 50px;
        color: white;
        text-decoration: none;
        font-size: 24px;
      }

        .icon-link:hover {
          transition: all .3s ease-in;
        }

    }
  }
}

@media only screen and (max-width: 686px) {

  .reserve {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 25px;

  }
}

@media only screen and (max-width: 780px) {
  img {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 450px) {
  .footer {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 25px;
    .contact-us {
      text-align: center;
    }
  }
}
