<div class="about-us">
        <div class="container">
        <div class="ganpatibappa-img">
            <img src="../../assets/images/ganpatibappa_two.png" class="img" alt="">
        </div>

        <div class="about-txt">
            <div class="about">
                <h3>ABOUT US</h3>
                <div id="exTab1" class="heading">
                    <div class="nav nav-pills" *ngFor="let item of heading">
                        <button href="#1a" class="btn btn-outline-primary m-1 pills-link" data-toggle="tab" (click)="onItemSelector(item)">{{ item }}</button>
                    </div>
                </div>
                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="1a">
                        <p>{{ text }}</p>
                    </div>

                </div>
            </div>
            <div class="btns">
                <button class="touch">Get In Touch</button>
                <button class="more">Read More</button>
            </div>
        </div>

    </div>
</div>
