<section class="parallax-one">
    <div class="parallax-inner">
        <h3 class="opacity-75">वक्रतुण्ड महाकाय सूर्यकोटि समप्रभ।
          निर्विघ्नं कुरु मे देव सर्वकार्येषु सर्वदा॥</h3>
        <p class="opacity-75">घुमावदार सूंड वाले, विशाल शरीर काय, करोड़ सूर्य के समान महान प्रतिभाशाली।
          मेरे प्रभु, हमेशा मेरे सारे कार्य बिना विघ्न के पूरे करें (करने की कृपा करें)॥</p>
        <!-- <button class="btn btn-outline-primary view-more">View More</button> -->
    </div>
</section>
<div class="content">
  <h3 class="text-center">WHAT PEOPLE SAY</h3>
    <div class="review-card">
        <div class="reviews" *ngFor="let item of reviews">
            <img src="{{ item.image }}" class="review-img"  alt="">
            <div>{{ item.decsription }}</div>
            <div>{{ item.name }}</div>
        </div>
    </div>
</div>

<div class="community" id="community">
    <h3 class="text-center">BE A PART OF OUR COMMUNITY</h3>
    <div class="community-card">
        <div class="community-data" *ngFor="let item of community">
            <h1>{{ item.heading }}</h1>
            <p>{{ item.text }}</p>
        </div>
    </div>
</div>

<section class="parallax-two">
    <div class="parallax-inner">
      <h3 class="opacity-75">कर्मण्ये वाधिका रस्ते मा फलेषु कदाचन।
        मा कर्म फल हेतु र्भूर्मा ते सङ्गोऽस्त्व कर्मणि॥</h3>
      <p class="opacity-75">तेरा कर्म करने में ही अधिकार है, उसके फल में नहीं ।
        इसलिए तू कर्म फल में हेतु रखने वाला मत हो,
        तथा तेरी अकर्म में (कर्म न करने में) भी आसक्ति न हो । </p>
        <!-- <button class="btn btn-outline-primary view-more">View More</button> -->
    </div>
</section>
