.main {
  margin-top: 50px;
  /* 1020, 576, #ff701a */
  .event-header {
    margin-top: 30px;
  }


  .events-card {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .event {

      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: auto;
      width: 50%;
      padding: 10px;
      /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */

      .event-img {
        width: 250px;
        max-height: 300px;
      }

    }

    .event:nth-child(odd) {
      display: flex;
      flex-direction: row;
    }
    .event:nth-child(even) {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}

/* .event:hover {
  background-color: #ff701a;
  color: white;
} */

@media only screen and (max-width: 1020px) {

}

@media only screen and (max-width: 576px) {
  .event {
    display: flex !important;
    flex-direction: column !important;
    padding: 3% !important;

    .event-img {
      align-self: center !important;
      width: 175px !important;
      max-height: 300px !important;
    }
  }
}
