.main {
  margin-top: 50px;

  .events-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;

    .event {
      width: 18%;
      /* height: 400px; */
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      gap: 20px;

      .event-img {
        width: 100%;
        height: 250px;
        min-height: 200px;
        max-height: 300px;
        /* object-fit: cover; */
      }

      .event-text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        min-height: 200px;
      }
    }
  }
}

.event:hover {
  background-color: #ff701a;
  color: white;
}

@media only screen and (max-width: 1020px) {
  .events-card {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
    justify-items: center !important;

    row-gap: 25px;

    .event {
      width: 80% !important;
      gap: 25px;

      img {
        width: 100%;
        max-height: 100px;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .events-card {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 25px !important;
    width: 100% !important;

    .event {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      width: 80% !important;
      gap: 25px;

      img {
        width: 100%;
        max-height: 100px;.main {
          margin-top: 50px;
          /* 1020, 576, #ff701a */
          .event-header {
            margin-top: 30px;
          }


          .events-card {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .event {

              display: flex;
              flex-direction: row;
              justify-content: center;
              gap: 25px;
              /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */

              .event-img {
                width: 250px;
                max-height: 300px;
              }

              .event-text {
                align-self: center;
              }
            }
          }
        }

        /* .event:hover {
          background-color: #ff701a;
          color: white;
        } */

        @media only screen and (max-width: 1020px) {

        }

        @media only screen and (max-width: 576px) {
          .event {
            display: flex !important;
            flex-direction: column !important;
            padding: 3% !important;

            .event-img {
              align-self: center !important;
              width: 175px !important;
              max-height: 300px !important;
            }
          }
        }

        object-fit: cover;
      }
    }
  }
}



