<div class="main">
  <h3 class="event-header text-center">UPCOMING EVENTS OF {{ year }}</h3>
  <div class="events-card">
      <div class="event my-3" *ngFor="let item of events">
          <img src="{{ item.image }}" class="event-img" alt="">
          <div class="event-text">
            <h5>{{ item.name | uppercase }}</h5>
            <div>{{ item.text }}</div>
            <div>{{ item.date }}</div>
            <div *ngIf="item.daysUntilEvent >= 0">Days to go : {{ item.daysUntilEvent }}</div>
            <div *ngIf="item.daysUntilEvent < 0">This religious event is over.</div>
          </div>
      </div>
  </div>
</div>
