.waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: black;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg)
    }
}

.filter-img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.disp-images {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    img {
      max-width: 100%;
      height: 300px;
      /* width: 300px;
      max-height: 300px;
      height: 300px; */
    }
  }
}


.lineUp {
  width: 270px;
  max-height: 280px;
  object-fit: fill;
  border-radius: 10px;
  animation: 3s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


@media only screen and (max-width: 576px) {
  .disp-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid yellow;
    img {
      max-height: 300px;
      height: 300px;
    }
  }
}
