<div class="main">
    <h3 class="text-center">OUR GALLERY</h3>
    <div class="filter-img">
        <div class="year" *ngFor="let item of years">
            <button class="year-btn" value="{{ item }}" (click)="onItemSelector(item)">{{ item }}</button>
        </div>
    </div>
    <div class="disp-images">
      <div class="container">
        <div class="d-flex flex-row justify-content-center flex-wrap">
          <div class="d-flex flex-column mx-5" *ngFor="let item of visibleImages">
            <img src="{{ item }}" class="lineUp my-3" alt="">
          </div>
        </div>
        <div class="more-images-btn text-center" *ngIf="visibleImages != length - 1 && hideBtn">
          <button class="img-btn" (click)="loadMore()">
            More Images
          </button>
        </div>
      </div>



    </div>

    <div>
    </div>
</div>
