<app-header id="home"></app-header>
<app-content id="content"></app-content>
<app-about id="about"></app-about>
<app-service id="service"></app-service>
<app-gallery id="gallery"></app-gallery>
<app-achieve id="achieve"></app-achieve>
<app-upcoming id="upcoming"></app-upcoming>
<app-questioin-answer id="questioin-answer"></app-questioin-answer>
<app-footer id="footer"></app-footer>
<button (click)="scrollToTop()" class="btn-top" *ngIf="displayDiv"><i class="fas fa-long-arrow-alt-up"></i></button>